body,
html {
    width: 100%;
    height: 100%;
    /*BACKGROUND COLOR OF THE PAGE*/
    background-color: #f8f8f8;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
/*USE THIS noround class to remove rounded corners, mostly in buttons*/
.noround {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.topnav {
    font-size: 14px; 
    //height: 50px;
}

.content-section-a1 {
    padding: 50px 0;
    
}
.content-section-a {
    padding: 50px 0;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.subscribe-box{
    /*margin: 5% 5% 5% 5%;*/
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    /*BACKGROUND COLOR OF THE SUBSCRIBE BOX*/
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

#su{
    font-size: 20px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
.icon1{
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
footer {
    padding: 50px 0;
    background-color: #f8f8f8;
    /* to remove center align remove this line */
    text-align: center;
}

p.copyright {
    margin: 15px 0 0;
}

/*BUTTON CUSTOMIZATIONS*/
/* color - text color
    background-color - color of button (inherit- to use the background color itself)
    border-color - color of border */
    /*Possible classes of buttons provided by bootstrap -  btn-primary: blue
                                                btn-default: white
                                                btn-success: green
                                                btn-warning: yellow
                                                btn-danger: red; */
#button1{
    /*color: white;
    background-color: red;
    border-color: green;*/
}
#button2{
    /*color: white;
    background-color: green;
    border-color: red;*/
}
#button3{
   /* color: black;
    background-color: inherit;
    border-color: green;*/
}
#button4{
    /*color: black;
    background-color: inherit;
    border-color: blue;*/
}

/*TO CUSTOMIZE THE INPUT FIELD OF SUBSCRIBE BOX*/
.subscribe-box input[type=email]{
    background-color: white;
}

/*TO CUSTOMIZE THE RADIO BUTTONS*/
/*Common to both buttons and text*/
.radio-inline {

}
/*1st or 2nd button(only the circle portion)*/
#inlineRadio1{
    
}
#inlineRadio2{
    
}

/*To customize all the content*/
.content-wrapper{

}

/*To customize the contact link in navbar*/
#navbar-contact{
/*
    font-weight: 100;
    font-size: 20px;
    color: red;
*/
}

/*Customize the links in the footer*/
footer a{
    /*color: black;*/
}

/*Customize the modal*/
#about .modal-content{
    /*background-color: red;*/
}

/*Customize the form*/
#about form{
    /*background-color: red;*/
}

/*Customize the form elments (all)*/
#about form input,#about form textarea{
    /*background-color: red;*/
}

/*Customize the form Name field*/
#about form #name{
    /*background-color: red;*/
}

/*Customize the form Email field*/
#about form #email{
    /*background-color: red;*/
}

/*Customize the form Message field*/
#about form #message{
    /*background-color: red;*/
}
.top-background{
    background-image: url(http://blogocska.org/files/2010/01/City-Wallpaper-1080p-37.jpg);
    /*Added color: white to make text appear on the image, change it as per your requirement or remove it*/
    color: white; 
}